---
import LayoutSidebar from '../app/LayoutSidebar.astro';
import ReservationCalendarNavigation from '../modules/ReservationCalendar/ReservationCalendarNavigation.astro';
import ReservationCalendar from '../modules/ReservationCalendar/ReservationCalendar.astro';
import AddReservation from '../modules/ReservationCalendar/AddReservation.astro';
---

<LayoutSidebar>
	<div>
    <h1
		class="mb-3 text-3xl font-bold text-gray-900 sm:text-4xl sm:leading-none sm:tracking-tight dark:text-white"
	>
  Reservas
	</h1>
	</div>
  <div class="flex justify-end items-center space-x-3"> 
    <ReservationCalendarNavigation />
    <AddReservation />
  </div>
  <div class="flex items-center mt-6">
    <div class="pt-10 text-center w-28 text-lg border-b-gray-50">
      Hab. 1
    </div>
    <div class="flex-1">
      <ReservationCalendar roomName="room1" />
    </div>
  </div>
  
  <div class="flex items-center">
    <div class="pt-10 text-center w-28 text-lg border-b-gray-50">
      Hab. 2
    </div>
    <div class="flex-1">
      <ReservationCalendar roomName="room2" />
    </div>
  </div>

  <div class="flex items-center">
    <div class="pt-10 text-center w-28 text-lg border-b-gray-50">
      Hab. 3
    </div>
    <div class="flex-1">
      <ReservationCalendar roomName="room3" />
    </div>
  </div>

  <!-- TODO: Agregar más habitaciones -->
</LayoutSidebar>