<p class="my-10 text-sm text-center text-gray-500">
	&copy; {new Date().getFullYear()} —
	<a href="https://flowbite.com/" class="hover:underline" target="_blank"
		>Cuidamiau</a
	>. All rights reserved.
</p>
