<div id="clienteModal" tabindex="-1" data-modal-backdrop="static" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
      <!-- Contenido del modal -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Header del modal -->
        <div class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 lg:text-2xl dark:text-white">
            Añadir nueva reserva
          </h3>
          <button type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
            data-modal-toggle="clienteModal">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>

        <!-- Formulario dentro del modal -->
        <form class="p-6 space-y-6" id="newReservationForm">
          <!-- Grid para el formulario -->
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <!-- Nombre del cliente -->
            <div>
              <label for="nombre"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre del cliente *</label>
              <input type="text" id="nombre"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Ingresa el nombre del cliente" required>
            </div>

            <!-- Número de habitación -->
            <div>
                <label for="numero-habitacion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    Número de habitación *
                </label>
                <select id="numero-habitacion" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                    <option value="">Seleccione una habitación</option>
                    <option value="Hotel 1 - Habitación 1">Hotel 1 - Habitación 1</option>
                    <option value="Hotel 1 - Habitación 2">Hotel 1 - Habitación 2</option>
                    <option value="Hotel 1 - Habitación 3">Hotel 1 - Habitación 3</option>
                    <option value="Hotel 2 - Habitación 1">Hotel 2 - Habitación 1</option>
                    <option value="Hotel 2 - Habitación 2">Hotel 2 - Habitación 2</option>
                </select>
            </div>

            <!-- Fecha de inicio -->
            <div>
              <label for="initialDate"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fecha de inicio *</label>
              <input type="date" id="initialDate"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required>
            </div>

            <!-- Fecha de fin -->
            <div>
              <label for="endDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fecha de fin *</label>
              <input type="date" id="endDate"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required>
            </div>

            <!-- Tarifa -->
            <div>
              <label for="tarifa" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                Tarifa *
              </label>
              <select id="tarifa" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                <option value="">Seleccione una tarifa</option>
                <option value="1 gato">1 gato</option>
                <option value="2 gatos">2 gatos</option>
                <option value="3 gatos">3 gatos</option>
                <option value="1 gato - bono30 NC">1 gato - bono30 NC</option>
                <option value="2 gatos - bono30 NC">2 gatos - bono30 NC</option>
                <option value="3 gatos - bono30 NC">3 gatos - bono30 NC</option>
                <option value="1 gato - bono30 C">1 gato - bono30 C</option>
                <option value="2 gatos - bono30 C">2 gatos - bono30 C</option>
                <option value="3 gatos - bono30 C">3 gatos - bono30 C</option>
              </select>
            </div>
          </div>

          <!-- Textarea al 100% -->
          <div class="col-span-2">
            <label for="comentarios"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Comentarios</label>
            <textarea id="comentarios" rows="4"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Comentarios opcionales"></textarea>
          </div>
        </form>

        <!-- Footer del modal -->
        <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
          <button type="submit" id="saveButton" class="text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center" disabled>
            Guardar
          </button>
          <button data-modal-toggle="clienteModal" type="button"
            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10">
            Cancelar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Script para habilitar el botón "Guardar" solo si los campos requeridos están llenos -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const saveButton = document.getElementById('saveButton');
    const form = document.getElementById('newReservationForm');
    const initialDate = document.getElementById('initialDate');
    const endDate = document.getElementById('endDate');

    
    const requiredFields = form.querySelectorAll('input[required], select[required]');

    function checkFormCompletion() {
      let allFilled = true;

      requiredFields.forEach(field => {
        if (!field.value || field.value.trim() === "") {
          allFilled = false;
        }
      });

      saveButton.disabled = !allFilled;

      // Cambiar el estilo del botón según si está habilitado o no
      if (allFilled) {
        saveButton.classList.remove('bg-blue-400', 'cursor-not-allowed');
        saveButton.classList.add('bg-blue-700', 'hover:bg-blue-800');
      } else {
        saveButton.classList.add('bg-blue-400', 'cursor-not-allowed');
        saveButton.classList.remove('bg-blue-700', 'hover:bg-blue-800');
      }
    }

    function ajustarFechaFin() {
      const initialDateValue = initialDate.value;

      if (initialDateValue) {
        endDate.min = initialDateValue;

        if (endDate.value && endDate.value < initialDateValue) {
          endDate.value = '';
        }
      }
    }

    // Evento para inputs de texto y selects
    requiredFields.forEach(field => {
      field.addEventListener('input', checkFormCompletion);
      field.addEventListener('change', checkFormCompletion); // Para selects y fechas
    });

    checkFormCompletion(); // Validación inicial

    // Agregar un evento cuando se cambie la fecha de inicio
    initialDate.addEventListener('change', ajustarFechaFin);

    // Validación inicial en caso de que haya una fecha de inicio predefinida
    ajustarFechaFin();
  });
</script>
